<ul class="nav nav-pills pull-right">
  <nav class="navbar navbar-light bg-light">
    <% if current_user && current_user.admin %>
      <a class="navbar-brand" <%= link_to 'Teacher Sign up', new_teacher_registration_path %></a>
      <a class="navbar-brand" <%= link_to 'User Sign out', destroy_user_session_path, method: :delete %></a>
    <% elsif current_user %>
      <a class="navbar-brand" <%= link_to 'User Sign out', destroy_user_session_path, method: :delete %></a>
    <% elsif current_teacher %>
      <a class="navbar-brand" <%= link_to 'Teacher Sign out', destroy_teacher_session_path, method: :delete %></a>
    <% else %>
      <a class="navbar-brand" <%= link_to 'User Sign up', new_user_registration_path %></a>
      <a class="navbar-brand" <%= link_to 'User Sign in', new_user_session_path %></a>
      <a class="navbar-brand" <%= link_to 'Teacher Sign in', new_teacher_session_path %></a>
    <% end %>
    <a class="navbar-brand" <%= link_to 'Problems', problems_path %></a>
  </nav>
</ul>
