<!DOCTYPE html>
<html>
  <head>
    <title>SchoolSys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted"><%= link_to "School Home", root_path %></h3>
  </div>
  <hr />
  <%= render 'layouts/alerts' %>
  <%= yield %>
</div>
  </body>
</html>
